@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h4>@ViewBag.Title.</h4>
</hgroup>

@if (ViewBag.Link != null)
{
    <h4 class="text-danger">
        For DEMO only: To reset password, click this <a href="@ViewBag.Link">link</a>
    </h4>
    <p>
        Please change code in the IdentityConfig/ForgotPassword() to send an email.
    </p>
}
else
{
    <h4>Check your email to reset your password. </h4>
}