@{
    ViewBag.Title = "Confirmation";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        Your password has been reset. Now, you can @Html.ActionLink(
            "login.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
