
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>
<h3>Feedback sent for review to Administrator.</h3>

<div>
    @Html.ActionLink("Back to List", "FeedbacksReceived", "Feedbacks")
</div>

