@model ShareCar.Models.User

@{
    ViewBag.Title = "List Users";
}

<h2>Roles for: <br /><span style="color:darkblue;font-size:x-large">@Html.DisplayFor(model => model.Name), @Html.DisplayFor(model => model.Email)</span></h2>

@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles foud for this user.</p>
}

<div class="col">
    <table class="table">
        @foreach (var item in ViewBag.RoleNames)
        {
            <tr>
                <td>
                    @item
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



