@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h2 class="text-error">Error.</h2>
</hgroup>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h4 class="text-danger">An error occurred while processing your request.</h4>
    }
    else
    {
        <h4 class="text-danger">@ViewBag.errorMessage</h4>
    }
}